.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
classes/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
application-dev.yml
application-e2e.yml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
out/

### Mac OS X ###
.DS_Store